*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
  background-color: #F5F5F5;
}

/*Navigationsbar*/
#navbar{
    background-color: black !important;
}

a.nav-link{
    font-size: large !important;
    font-style :normal !important;  
}

a.nav-link:hover{
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: white !important;
    font-weight: bold !important;
}

a.middle
{
    position: relative;
}

a.middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out;
  }

  a.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

  #particles-js{
    position: relative;
    top:0px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../pictures/backgroundImage.jpg");
    background-size: cover !important;
    background-repeat: no-repeat;
  }


/*Wavy - Texte - Karim Derrouiche*/
.waviy {
  position: absolute;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 80px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%, 60% {
    transform: rotateY(360deg) 
  }
}

/*Sliding Text - seconde Text*/
h1 {
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  width: 700px;
  left: 50%;
  right: auto;
}

h1 span {
  color: white;
  font-size: 40px;
  font-weight: bold;

}

.message {
  background-color: yellow;
  color: #333;
  display: block;
  font-weight: 900;
  overflow:hidden;
  position: absolute;
  padding-left: 0.5rem;
  top: 0.2rem;
  left: 20%;
  animation: openclose 10s ease-in-out infinite;
}

.word1, .word2, .word3 {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    top: 0.2rem;
    width: 0;
  }
  5% {
    width: 0;
  }
  15% {
    width: 525px;;
  }
   30% {
    top: 0.2rem;
    width: 525px;
  } 
  33% {
    top: 0.2rem;
    width: 0;
  }
  35% {
    top: 0.2rem;
    width: 0;
  }
  38% {
    top: -4.5rem;
    
  }
  48% {
    top: -4.5rem;
    width: 400px;
  }
  62% {
    top: -4.5rem;
    width: 400px;
  }
  66% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }
  71% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  86% {
    top: -9rem;
    width: 520px;
  }
  95% {
    top: -9rem;
    width: 520px;
  }
  98% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

/*Seconde Section*/

#seconde_section{
  border: thin #c0c0c0;
  background-color: #FFF;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.strong{
  border-bottom: 4px solid dodgerblue;
  padding-bottom: 10px;
  position: relative;
}

.strong:after{ /*Um die unterlinie (border-bottom) teilweise (3rem) vom links zu löschen*/
  content: '';
  display: block;
  position: absolute;
  width: 3rem;
  bottom:  -5px;
  right: -0px;
  border: 3px solid #FFF;
}

#paragraph{
  margin: 2rem;
  padding: 1.25rem;
  font-size: 1.35rem;
  font-weight: 500;
  font-style: normal;
  color: #4e4e4e;
  text-align: justify;
}

/*Skills-Section*/
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
  border: none !important;
}

/* medium and up screens */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);

  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}

.skills_section{
  background-color: #fff;
 }
 
 #skills_row{
  padding: 5rem 0;
  margin-bottom: 3rem;
 }
.carousel_images{
  width: 100px;
  height: 100px;

}

.card{
  border: none;
  background-color: #fff;
  filter: grayscale(90%);
}

.card:hover{
  filter: none !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  display: none;
}

/*Projects Section*/
#projekt_header{
  border-bottom: 4px solid dodgerblue;
  padding-bottom: 10px;
  position: relative;
}

#projekt_header:after{ /*Um die unterlinie (border-bottom) teilweise (3rem) vom links zu löschen*/
  content: '';
  display: block;
  position: absolute;
  width: 3rem;
  bottom:  -5px;
  right: -0px;
  border: 3px solid #F5F5F5;
}

#projects_section .card{
  filter: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transition: border-color 1s, box-shadow 0.4s, transform 0.5s ease;
}

#projects_section .card:hover{
  border-color: rgba(13, 110, 253, 0.7);
  box-shadow: 0px 0px 10px 2px rgba(13, 110, 253, 0.6);
  transform: scale(1.04);
}


